/* .profile{
  max-width: 85%;
  padding: auto;
  text-align: center;
}

h2 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
}

p {
  margin: 6px 0;
  font-size: 16px;
  color: #444;
}

p:first-of-type {
  margin-top: 0;
}

button {
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #1d4ed8;
}

button:active {
  transform: scale(0.97);
} */

/* Центрирование карточки */
.profile {
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8fffeb, #203886);
  padding-top: 50px;
  box-sizing: border-box;
}

.container{
  min-width: 85%;
  margin: auto;
}

.profile h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.profile p {
  margin: 6px 0;
  font-size: 16px;
  color: #ffbf00;
}

.info{
  background-color: #369ee979;
  border-radius: 15px;
  max-width: 30%;
  margin: 70px auto;
  padding: 20px 0;
}

.profile button {
  margin-top: 20px;
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.profile button:hover {
  background-color: #1d4ed8;
}

.profile button:active {
  transform: scale(0.96);
}
